@import "tailwindcss";

@theme {
  --font-sans: var(--font-outfit);
  --font-serif: var(--font-playfair);

  --color-background: #050505;
  --color-foreground: #f5f5f5;
  
  --color-gold-50: #fbf8eb;
  --color-gold-100: #f5eccd;
  --color-gold-200: #ebd89f;
  --color-gold-300: #dfc070;
  --color-gold-400: #d4af37; /* Primary Gold */
  --color-gold-500: #b59228;
  --color-gold-600: #94711f;
  --color-gold-700: #76561b;
  --color-gold-800: #61461c;
  --color-gold-900: #533b1e;

  --color-noir-50: #f6f6f6;
  --color-noir-100: #e7e7e7;
  --color-noir-200: #d1d1d1;
  --color-noir-300: #b0b0b0;
  --color-noir-400: #888888;
  --color-noir-500: #6d6d6d;
  --color-noir-600: #5d5d5d;
  --color-noir-700: #4f4f4f;
  --color-noir-800: #454545;
  --color-noir-900: #3d3d3d;
  --color-noir-950: #050505;
}

:root {
  --background: #050505;
  --foreground: #f5f5f5;
}

@layer base {
  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased;
  }
}

